<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopdope project</title>
    <link rel="stylesheet" href="shopdope.css">
</head>
<body>
    <div id="container1" style="line-height: 1px;" >
        <p style="padding-left: 70px;font-size: 33px;padding-top: 17px;">
        shopdope
        </p>
        <p style="color: white;
            padding-left: 70px;
            font-size: 18px;">
        आपका ही बाजार 
        </p>
        <input id="search-bar" type="text" placeholder="search for products brands and more (Happy Shopping ^_^)" 
            style= "position: relative;
            left: 257px;
            bottom: 56px;
            width: 1000px;
            height: 45px;
            border-radius: 7px;">
        <button id="search_button">
            <img src="outline_search_white_24dp.png">
        </button>
        <button id="cart_button">
            <img src="outline_shopping_cart_white_24dp.png">
            <span style="color: white; font-size: 13px;">Cart</span>
        </button>
        <button id="account_button">
            <img src="outline_account_circle_white_24dp.png">
            <span style="color: white; font-size: 13px;">Sign in</span>
        </button>
    </div>
</body>
</html>